//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 04 17 08:11:40 2026

IO_LOC "LED" 83;
IO_PORT "LED" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "NQ" 86;
IO_PORT "NQ" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Q" 63;
IO_PORT "Q" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SEL[1]" 38;
IO_PORT "SEL[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "SEL[0]" 37;
IO_PORT "SEL[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "K" 28;
IO_PORT "K" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "J" 29;
IO_PORT "J" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "D" 30;
IO_PORT "D" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "T" 25;
IO_PORT "T" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "R" 27;
IO_PORT "R" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "S" 26;
IO_PORT "S" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "CLR" 39;
IO_PORT "CLR" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "PRE" 36;
IO_PORT "PRE" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
