//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 06 05 07:49:00 2026

IO_LOC "LEDAPAGADO[5]" 63;
IO_PORT "LEDAPAGADO[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDAPAGADO[4]" 86;
IO_PORT "LEDAPAGADO[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDAPAGADO[3]" 85;
IO_PORT "LEDAPAGADO[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDAPAGADO[2]" 84;
IO_PORT "LEDAPAGADO[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDAPAGADO[1]" 83;
IO_PORT "LEDAPAGADO[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LEDAPAGADO[0]" 82;
IO_PORT "LEDAPAGADO[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRAN[3]" 48;
IO_PORT "TRAN[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRAN[2]" 49;
IO_PORT "TRAN[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRAN[1]" 31;
IO_PORT "TRAN[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "TRAN[0]" 32;
IO_PORT "TRAN[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[6]" 71;
IO_PORT "DISPLAY[6]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[5]" 72;
IO_PORT "DISPLAY[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[4]" 76;
IO_PORT "DISPLAY[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[3]" 77;
IO_PORT "DISPLAY[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[2]" 75;
IO_PORT "DISPLAY[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[1]" 73;
IO_PORT "DISPLAY[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DISPLAY[0]" 74;
IO_PORT "DISPLAY[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED" 81;
IO_PORT "LED" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "CLR" 42;
IO_PORT "CLR" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
